In [88]:
import pyodbc
driver = "Microsoft Access Driver (*.mdb, *.accdb)"
ruta = "c:/datos/udp.accdb"
conn = pyodbc.connect("Driver={%s};DBQ=%s;" % (driver, ruta))

In [89]:
class Conexion:
    def __init__(self):
        self.conn = None
        try:
            driver = "Microsoft Access Driver (*.mdb, *.accdb)"
            ruta = "c:/datos/udp.accdb"
            self.conn = pyodbc.connect("Driver={%s};DBQ=%s;" % (driver, ruta))
        except Exception as e:
            print(e)
    def abrirConexion(self):
        return self.conn
    def ejecutar(self, sql):
        try:
            cursor = self.conn.cursor()
            cursor.execute(sql)
            self.conn.commit()
            print("Ejecutado")
        except Exception as e:
            print(e)
    def consultar(self, sql):
        cursor = self.conn.cursor()
        cursor.execute(sql)
        return cursor.fetchall()
    
    def buscarUno(self, sql):
        cursor = self.conn.cursor()
        cursor.execute(sql)
        return cursor.fetchone()
    def cerrar(self):
        #self.conn.cursor().close()
        self.conexion.close()

In [90]:
conn = Conexion()

In [7]:
rut = input("ingrese rut")
nombre = input("nombre")
carrera = input("carrera")
sql = "insert into alumno (rut, nombre, carrera) VALUES ('"+rut+"','"+nombre+"','"+carrera+"')"
print(sql)
conn.ejecutar(sql)

insert into alumno (rut, nombre, carrera) VALUES ('1-7','Fran','Enfermera')
Ejecutado

In [124]:
conn.consultar("select * from alumno")

[(2, '1-9', 'Camilo', 'Informatica'),
 (3, '1-7', 'Fran', 'Enfermera'),
 (5, '4', '12345678-9', 'Juan Perez')]

In [117]:
class Alumno:
    def __init__(self, rut, nombre, carrera):
        self.rut = rut
        self.nombre = nombre
        self.carrera = carrera
    def getAlumno(self, rut):
        return conn.buscarUno("select * from alumno where rut = '"+rut+"'")
    def imprimir(self):
        print(self.rut + " " + self.nombre + " " + self.carrera)
    def crear(self):
        if self.getAlumno(self.rut) != None:
            print("El alumno ya existe")
            return
        sql = "insert into alumno (rut, nombre, carrera) VALUES ('"+str(self.rut)+"','"+str(self.nombre)+"','"+str(self.carrera)+"')"
        conn.ejecutar(sql)
    def actualizar(self):
        if self.getAlumno(self.rut) != None:
            sql = "update alumno set nombre = '"+self.nombre+"', carrera = '"+self.carrera+"' where rut = '"+self.rut+"'"
            conn.ejecutar(sql)
            return
        print("El alumno no existe")

    def eliminar(self):
        if self.getAlumno(self.rut) != None:
            sql = "delete from alumno where rut = '"+self.rut+"'"
            conn.ejecutar(sql)
            return
        print("El alumno no existe")

In [118]:
alumno = Alumno("12345678-9", "Juan Perez", "Ingenieria Mecanica")

In [120]:
alumno.crear()

Ejecutado

In [121]:
alumno.actualizar()

Ejecutado

In [123]:
alumno.eliminar()

Ejecutado